$primaryColor: #222222;
$secondaryColor: #423F3E;
$baseColor: #000000;
$mainFontColor: #EEEEEE;
$mainFontSize: 16px;
$futureDaysFontSize: 12px;
$mainDivWidth: 25rem;
$mainDivHeight: auto;
$mainWeatherIconWidth: 100px;
$mainWeatherIconHeight: 100px;
$futureWeatherIconWidth: 30px;
$futureWeatherIconHeight: 30px;
$menuIconWidth: 25px;
$menuIconHeight: 25px;
$mainPadding: 2px 5px 2px 5px;
$menuPadding: 10px;
$subPadding: 7px;
$mainBorderRadius: 10px;
$subBorderRadius: 10px;
$gridGap: 5px 0 5px 0;

body {
    margin: 0;
    padding: 0;
    background: $baseColor;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#outerWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $mainDivWidth;
    height: $mainDivHeight;
    display: flex;
    flex-direction: column;

    #mainContainer {

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: $mainPadding;
        border-radius: $mainBorderRadius;

        #temperatureDiv {

            position: relative;
            display: flex;
            justify-content: space-around;
            border: 1px solid black;
            border-radius: $subBorderRadius;
            padding: $subPadding;
            margin: $gridGap;
            background: $primaryColor;

            #temperatureInfo {
                #temperatureContainer {

                    width: $mainWeatherIconWidth;
                    height: $mainWeatherIconHeight;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .temp-div {
                        font-size: $mainFontSize;
                        color: $mainFontColor;
                        margin-top: 5px;
                    }

                    .main-temp-value {
                        margin-top: 10px;
                    }

                    .sub-temp-stats {
                        width: inherit;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }

                    .sub-temp-div {
                        margin: 0 6px 6px 0;
                    }

                }
            }

            #temperatureIcon {
                .weather-icon {
                    width: $mainWeatherIconWidth;
                    height: $mainWeatherIconHeight;
                }
            }
        }

        #otherTempStats {

            position: relative;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            border-radius: $subBorderRadius;
            padding: calc($subPadding + 5px);
            margin: $gridGap;
            background: $primaryColor;
            font-size: $mainFontSize;
            color: $mainFontColor;

            .other-stats-sub-div {
                position: relative;
                width: inherit;
                display: flex;
                justify-content: space-between;
                margin: $gridGap;
            }
        }

        #futureDaysStats {
            border: 1px solid black;
            border-radius: $subBorderRadius;
            padding: calc($subPadding + 5px);
            margin: $gridGap;
            background: $primaryColor;

            #futureStatContainer {
                position: relative;
                width: inherit;
                display: flex;
                justify-content: space-between;

                .days {
                    color: $mainFontColor;

                    .day-weather-icon {
                        img {
                            width: $futureWeatherIconWidth;
                            height: $futureWeatherIconHeight;
                        }
                    }

                    .day-name {
                        font-size: calc($futureDaysFontSize + 3px);
                    }

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: $futureDaysFontSize;
                }
            }
        }
    }

    #menu {
        position: relative;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-evenly;
        margin: $gridGap;
        background: $primaryColor;
        padding: $menuPadding;
        width: calc($mainDivWidth - 40%);
        border-radius: $mainBorderRadius;
        .menuDivs {

            button {
                border: none;
                outline: none;
                background: none;
                cursor: pointer;
            }

            img {
                width: $menuIconWidth;
                height: $menuIconHeight;
            }
        }
    }
}